/*  your css code here. If applicable */
.container{
	background-color: #f5f5f5;
	width: 800px;
	height: 350px;
	padding: 10px;
	/* text-align: center; */
}


.box{
	margin: 10px;
}
.box1{
	padding: 10px;
	background-color: white;
	border: 1px solid #f4f5f5;
	margin: 10px;
	width: 600px;
	height: 100px;
	text-align: right;
}

.box2{
	padding: 10px;
	background-color: white;
	border: none;
	margin: 10px;
	width: 600px;
	height: 100px;
	text-align: right;
}